<nav class="navbar">
  <div class="container">
      <div class="logo">
        <a routerLink=""><span>We Learn</span></a>
      </div>
      <ul class="nav">
          <button class="btn-login" routerLink="/login">Login</button>
          <button class="btn-register" routerLink="/register">Register</button>
          <button class="btn" routerLink="/groups">Groups</button>
      </ul>
  </div>
</nav>


<!-- <section class="section-a">


</section> -->

<div class="wrapper-home" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="50px">
  <div class="text" fxLayout="column" fxLayoutAlign="start start" fxFlex="25%">
    <h2>Learn together.</h2>
    <h1>Grow together.</h1>
  </div>
  <img src="assets/img/hero1.jpg">

</div>

